{% extends "master.html" %}

{% block title %}
  My Blog - List of all posts
{% endblock %}


{% block content %}


  <h1 style="color: #C25100;">Posts</h1>

  <ul>
    {% for x in myposts %}
      <li><a href="details/{{ x.id }}">{{ x.title }} </a></li>
      
      <!-- === to show comments of post === -->
        {% for com in x.comments.all %}
          <ul>
            <li>{{com}}</li>
          </ul>
        {% endfor %}
        <!-- ============================== -->

    {% endfor %}
  </ul>


  <p><a href="/">HOME</a></p>
{% endblock %}

